<a href="https://colab.research.google.com/github/AntonioSanabria26/FisicaComputacional1/blob/master/Actividad_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Librerias**

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Código**

In [172]:
#----------- LEYENDO EL URL, DONDE EL ARCHIVO ESTA EN FORMATO CSV -------------#

URL = "https://raw.githubusercontent.com/AntonioSanabria26/FisicaComputacional1/master/Actividad1/26179.csv"
df = pd.read_csv( URL )

#--------------------------- ESTRUCTURA DEL TEXTO -----------------------------#

df = df.drop(range(0,17),axis=0) 
# ELIMINACIÓN DE LAS PRIMERAS 17 LINEAS
df = df.dropna() 
# ELIMINACION DE LAS FILAS CON N/A

df = df["CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA"].str.split("\s+", n=5, expand=True)
#SEPARANDO LA CADENA DE TEXTO EN 5 COLUMNAS, CON SPLIT DE ESPACIO+, PARA QUE
#PUEDA TOMAR VALORES ENCIMA DE 1 ESPACIO DE LA MEMORIA

df.columns = ['Fecha', 'Precipitacion', 'Evaporacion', 'Tmax', 'Tmin']
#NOMBRE DE LAS COLUMNAS

df.head(10)

         Fecha Precipitacion Evaporacion  Tmax  Tmin
18  01/07/1974             0         7.3    35    22
19  02/07/1974             0        10.5    34  22.5
20  03/07/1974             0        13.6  31.5    21
21  04/07/1974             0        10.7    41    28
22  05/07/1974             0        10.9    35    28
23  06/07/1974             0        11.4    32    29
24  07/07/1974             0         9.4  31.5    26
25  08/07/1974             0        10.1    32    26
26  09/07/1974             0         7.4    32    26
27  10/07/1974             0        12.3    34    25