<a href="https://colab.research.google.com/github/AntonioSanabria26/FisicaComputacional1/blob/master/Actividad_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Librerias**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Código**

In [6]:
#----------- LEYENDO EL URL, DONDE EL ARCHIVO ESTA EN FORMATO CSV -------------#

URL = "https://raw.githubusercontent.com/AntonioSanabria26/FisicaComputacional1/master/Actividad1/26179.csv"
df = pd.read_csv( URL )

#--------------------------- ESTRUCTURA DEL TEXTO -----------------------------#

df = df.drop(range(0,17),axis=0)
df = df.drop([8108,8109])
# ELIMINACIÓN DE LAS PRIMERAS 17 LINEAS
df = df.dropna() 
# ELIMINACION DE LAS FILAS CON N/A
df = df.replace(to_replace= "Nulo" ,value = "N/A",regex= True )
# REMPLAZANDO LOS "Nulo" , por N/A

df = df["CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA"].str.split("\s+", n=5, expand=True)
#SEPARANDO LA CADENA DE TEXTO EN 5 COLUMNAS, CON SPLIT DE ESPACIO+, PARA QUE
#PUEDA TOMAR VALORES ENCIMA DE 1 ESPACIO DE LA MEMORIA

df.columns = ['Fecha', 'Precipitacion', 'Evaporacion', 'Tmax', 'Tmin']
#NOMBRE DE LAS COLUMNAS

df_columns =['Precipitacion', 'Evaporacion', 'Tmax', 'Tmin']
for i in df_columns:
  df[i] = pd.to_numeric( df[i] ,errors = "coerce")
#CONVIRTIENDO LAS COLUMNAS df_columns A FLOTANTES

df_copy = df.copy()
# COPIA DEL DATA FRAME

df["Fecha"] = pd.to_datetime(df["Fecha"],dayfirst=True).copy()
df["Año"] = df["Fecha"].dt.year
df["Mes"] =df["Fecha"].dt.month
# CONVIRTIENDO LA FECHA 




#---------------------------- LECTURA DE DATOS --------------------------------#

print(df.head(20)) #PRIMERO 10 DATOS DEL DATAFRAME
print("")
print(df.tail(20)) #ULTIMOS 10 DATOS DEL DATAFRAME
print("")
print(f"Dimensiones del DataFrame {df.shape}")
print("")
print(df.describe())
print("")
print(df.dtypes)

        Fecha  Precipitacion  Evaporacion  Tmax  Tmin   Año  Mes
18 1974-07-01            0.0          7.3  35.0  22.0  1974    7
19 1974-07-02            0.0         10.5  34.0  22.5  1974    7
20 1974-07-03            0.0         13.6  31.5  21.0  1974    7
21 1974-07-04            0.0         10.7  41.0  28.0  1974    7
22 1974-07-05            0.0         10.9  35.0  28.0  1974    7
23 1974-07-06            0.0         11.4  32.0  29.0  1974    7
24 1974-07-07            0.0          9.4  31.5  26.0  1974    7
25 1974-07-08            0.0         10.1  32.0  26.0  1974    7
26 1974-07-09            0.0          7.4  32.0  26.0  1974    7
27 1974-07-10            0.0         12.3  34.0  25.0  1974    7
28 1974-07-11            0.0          6.2  31.0  26.0  1974    7
29 1974-07-12           18.8          5.5  31.5  28.0  1974    7
30 1974-07-13            0.0          7.1  31.5  22.0  1974    7
31 1974-07-14            0.0          8.0  31.0  23.0  1974    7
32 1974-07-15            0.0          8.6  32.0  25.0  1974    7
33 1974-07-16            0.0          5.7  35.0  21.0  1974    7
34 1974-07-17           23.0          4.3  33.0  23.0  1974    7
35 1974-07-18            0.0          2.9  29.0  22.0  1974    7
36 1974-07-19            0.0          5.6  31.0  24.0  1974    7
37 1974-07-20            0.0          NaN  31.5  24.0  1974    7

          Fecha  Precipitacion  Evaporacion  Tmax  Tmin   Año  Mes
8088 2016-04-10            0.0          5.7  23.0  11.5  2016    4
8089 2016-04-11            0.0          5.3  23.5  10.5  2016    4
8090 2016-04-12            0.0          6.1  23.0  10.5  2016    4
8091 2016-04-13            0.0          6.3  26.5  11.0  2016    4
8092 2016-04-14            0.0          5.5  25.5  10.5  2016    4
8093 2016-04-15            0.0          6.2  25.0  10.5  2016    4
8094 2016-04-16            0.0          9.4  21.0   9.0  2016    4
8095 2016-04-17            0.0          7.4  26.0   1.0  2016    4
8096 2016-04-18            0.0          7.9  28.5  10.0  2016    4
8097 2016-04-19            0.0          7.2  28.5  10.5  2016    4
8098 2016-04-20            0.0          6.4  28.5  10.0  2016    4
8099 2016-04-21            0.0          5.9  28.5   9.5  2016    4
8100 2016-04-22            0.0          5.8  24.5  11.0  2016    4
8101 2016-04-23            0.0          4.6  23.0  12.0  2016    4
8102 2016-04-24            0.0          6.1  24.0  12.0  2016    4
8103 2016-04-25            0.0          5.8  24.0   2.0  2016    4
8104 2016-04-26            0.0          7.4  25.0  13.0  2016    4
8105 2016-04-27            0.0          5.8  23.5   8.0  2016    4
8106 2016-04-28            0.0          5.7  23.0   7.5  2016    4
8107 2016-04-29            0.0          6.4  22.0  11.5  2016    4

Dimensiones del DataFrame (8090, 7)

       Precipitacion  Evaporacion  ...          Año          Mes
count    8073.000000  5852.000000  ...  8090.000000  8090.000000
mean        0.345869     5.933681  ...  1991.481088     6.460569
std         2.831741     2.643080  ...    13.859304     3.407066
min         0.000000     0.100000  ...  1974.000000     1.000000
25%         0.000000     4.000000  ...  1981.000000     4.000000
50%         0.000000     5.800000  ...  1988.000000     6.000000
75%         0.000000     7.700000  ...  2007.000000     9.000000
max        85.000000    17.700000  ...  2016.000000    12.000000

[8 rows x 6 columns]

Fecha            datetime64[ns]
Precipitacion           float64
Evaporacion             float64
Tmax                    float64
Tmin                    float64
Año                       int64
Mes                       int64
dtype: object